---
import Layout from '../../layouts/Layout.astro';
import { url, v, uid, type } from "../../utils/const";
import type { Page } from '../../interfaces/page';
import type { Category } from '../../interfaces/category';
import ListCategoryW0 from '@components/ListCategoryW0.astro';
import ListCategoryP0 from '@components/ListCategoryP0.astro';
import type { Site } from '@interfaces/site';

const params = Astro.params;

const site: Site = await fetch(
	`${url}/api/${v}/${type}/query/sites/${uid}`
).then((response) => response.json());
const page:Page = await fetch(
  `${url}/api/${v}/${type}/query/pages/page/${uid}/${params.page}`
	).then((response) => response.json());
if (!page) return Astro.redirect("/404");
const categories:Category[] = await fetch(
  `${url}/api/${v}/${type}/query/categories/0/category/parentId?id=${page._id!}`
).then((response) => response.json());

---
<Layout title={page.data.name} description={page.data.description} ogImage={page.data.thumbnailUrl}>
	<main>
		
		{
			site.data.type === 'portfolio' &&
			<ListCategoryP0 page={page} categories={categories} />
		}
		{
			site.data.type === 'wear' &&
			<ListCategoryW0 page={page} categories={categories} />
		}

	</main>
</Layout>