---
import Layout from '../../../../layouts/Layout.astro';
import { url, v, uid, type } from "../../../../utils/const";
import { getPaths } from "../../../../utils/function";
import type { Category } from '../../../../interfaces/category';
import type { Site } from '../../../../interfaces/site';
import ListCategoryW0 from '../../../../components/ListCategoryW0.astro';
import ListCategoryP0 from '../../../../components/ListCategoryP0.astro';
import ListArticlesP0 from '../../../../components/ListArticlesP0.astro';

const params = Astro.params;

const site: Site = await fetch(
	`${url}/api/${v}/${type}/query/sites/${uid}`
).then((response) => response.json());
const category:Category = await fetch(
  `${url}/api/${v}/${type}/query/categories/1/category/${uid}/${getPaths(params as any)}`
).then((response) => response.json());
if (!category) return Astro.redirect("/404");
const categories:Category[] = await fetch(
  `${url}/api/${v}/${type}/query/categories/2/category/parentId?id=${category._id!}`
).then((response) => response.json());
const articles = await fetch(
  `${url}/api/${v}/${type}/query/articles/article/parentId?id=${category._id!}`
).then((response) => response.json());
// console.log('categories', categories)
---
<Layout title={category.data.name}  description={category.data.description} ogImage={category.data.thumbnailUrl}>
	<main>
		{
			site.data.type === 'portfolio' &&
			<>
				{
					category.data.type === 'category' && 
					<ListCategoryP0 page={category} categories={categories} />
				}
				{
					category.data.type === 'blog' && 
					<ListArticlesP0 page={category} articles={articles} />
				}
			</>
		}
		{
			site.data.type === 'wear' &&
			<>
				<ListCategoryW0 page={category} categories={categories} />
			</>
		}
		
	</main>
</Layout>